<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <table border="0"
           cellpadding="0"
           cellspacing="0"
           style="
                  background-image: linear-gradient(to bottom,#76b852,#8DC26F);
                  background: #76b852; /* fallback for old browsers */
                  max-width:600px;
                  "
           align="center">
        <tr>
            <td>
                <table border="0"
                       cellpadding="0"
                       cellspacing="0">
                    <tr style="color: #fed136;">
                        <td style="padding: 12px;">
                            <a href="{% url 'home' %}">EventTree</a>
                        </td>
                    </tr>
                    <tr style="background-color: #ced2c0;">
                        <td style="
                                font-size: 17px;
                                line-height: 17px;
                                padding: 40px 0 20px 20px;">
                            {% block salutation %}
                            {% endblock %}
                        </td>
                    </tr>
                    <tr style="background-color: #ced2c0;">
                        <td style="
                                font-size: 17px;
                                line-height: 17px;
                                padding: 10px 0 10px 20px;">
                            {% block content %}
                            {% endblock %}
                        </td>
                    </tr>
                    <tr style="background-color: #ced2c0;">
                        <td style="
                                font-size: 17px;
                                line-height: 17px;
                                padding: 10px 0 40px 20px;">
                            {% block signature %}
                            {% endblock %}
                        </td>
                    </tr>
                    <tr>
                        <td style="
                                padding: 12px;
                                font-size: 15px;
                                line-height: 15px;
                                padding: 10px 20px;
                                text-align: center">
                            <strong>Copyright &copy;Eventree. All rights reserved.</strong>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
