{% extends "emails/invite_birthday_email_base.html" %}
{% load static %}
{% block title_img %}

  <img
    align="center"
    alt=""
    src="http://{{ domain }}{% static 'img/email/birthday_invite_email_title_img.jpg' %}"
    width="564"
    style="max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
    class="mcnImage"
  >

{% endblock %}

{% block content %}

  <center>

    <h1 style="text-align: center;"><span
        style="font-family:trebuchet ms,lucida grande,lucida sans unicode,lucida sans,tahoma,sans-serif"><span
        style="font-size:20px">Dear Friends, you are invited to&nbsp;</span></span><br>
      <span style="font-size:32px">
	ESHAAN'S BIRTHDAY PARTY
	</span></h1>

    <p style="text-align: center;"><br>
      We are celebrating Eshaan's Third birthday. We would love for you and your
      family to join us :). There are a lot of fun activities planned.<br>
      <br>
      Looking forward to meeting you.&nbsp;Kindly RSVP at the earliest.</p>
    <a href="http://{{ domain }}{% url 'request_event_rsvp' event.invite.uuid %}">
      <img
        align="center" alt="Click here to RSVP"
        src="http://{{ domain }}{% static 'img/email/rsvp_button.png' %}"
        width="100"
        style="max-width:100px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
        class="mcnImage">
    </a>

  </center>
{% endblock %}

{% block col1 %}
  Host - Sushanth /&nbsp;<br>
  (408) 242-8674<br>
  <strong id="docs-internal-guid-724ed0ad-9ff6-6387-c087-4131d16fa1d9"><a
      href="mailto:sushanth_rai@yahoo.com">sushanth_rai@yahoo.com</a></strong>
  <br>
  <br>
  Sunday, Sept 11<br>
  Time : 12-4 pm<br>
  Cake cutting at 1pm

{% endblock %}

{% block col2 %}

  Emma Prusch Farm Park<br>
  <strong>Rooster Row Picnic Area</strong><br>
  <br>
  647 S King Rd,<br>
  San Jose, CA 95116<br>
  (408) 794-6262</div>

{% endblock %}

{% block map %}

  <img align="center"
       alt=""
       src="http://{{ domain }}{% static 'img/email/location_email_emma_prusch_park.png' %}"
       width="564"
       style="max-width:725px; padding-bottom: 0; display: inline !important; vertical-align: bottom;"
       class="mcnImage">

{% endblock %}
