{% extends "emails/email_base.html" %}

{% block salutation %}
   Dear {{ user.name|default_if_none:email }}
{% endblock %}


{% block content %}
    Someone just requested for the password to be reset for the account associated with this email id.
    If you placed the request, Please follow the instructions as below. If the request was not from you, contact us
    immediately. <br/><br/>

    To reset your password, complete this form: <a href="{{ domain }}{% url 'password_reset_confirm' uid token %}">{{ domain }}{% url 'password_reset_confirm' uid token %}</a><br/><br/>

    If you cannot click on the link, copy paste the link into a browser.
{% endblock %}

{% block signature %}
   Best Regards, <br/>
   Webmaster - Eventtree
{% endblock %}
