{% extends "emails/email_base.html" %}

{% block content %}
<h1 style="text-align: center;">Reset&nbsp;your&nbsp;password</h1>

<p>Hi there!<br>
<br>
Looks like you requested a password reset of your EventTree account. If it was you, please reset the password by clicking on the link below<br>
<center> 
	<button class="button" style="vertical-align:middle">
	<span>
		<a href="http://{{ domain }}{% url 'password_reset_confirm' uid token %}">Click here to Reset</a>
	</span>
	</button>
</center> <br>
If you do not want to reset your password, or if it was not you who requested a password reset, please ignore this email. For your security reasons do not forward this email to anyone.<br>
<br>
If you have any questions, please email or call us. <br>
<br>
Warm Regards,<br>
EventTree Team,<br>
support@eventtree.com<br>
(408) 744-2415</p>
{% endblock %}
