{% extends "emails/email_base.html" %}
{% load static %}
{% block content %}
<h1 style="text-align: center;">Reset&nbsp;your&nbsp;password</h1>

<p>Hi there!<br>
<br>
Looks like you requested a password reset of your EventTree account. If it was you, please reset the password by clicking on the link below </p>
<center> 
<a href="http://{{ domain }}{% url 'password_reset_confirm' uid token %}"> <img align="center" alt="" src="http://{{ domain }}{% static 'img/email/password_reset_button.png' %}" width="150" style="max-width:725px; padding-bottom: 0; display: inline !important; vertical-align: bottom;" class="mcnImage">
		</a>
</center>

<p>
If you do not want to reset your password, or if it was not you who requested a password reset, please ignore this email. For your security reasons do not forward this email to anyone.<br>
<br>
If you have any questions, please email or call us. <br>
<br>
Warm Regards,<br>
EventTree Team,<br>
support@eventtree.com<br>
(408) 744-2415</p>
{% endblock %}
