{% extends "emails/email_base.html" %}

{% block content %}
<h1 style="text-align: center;">Hello!&nbsp;Welcome</h1>

<p>Thank you for signing up. We really appreciate your support. Your account is ready and you can get started on planning your event!<br>
<br>
We are excited to help you create a great event, providing new ideas and services that suit your requests, an easy booking and a secure payment interface for all the different services that you may use.<br>
<br>
Please reach out to us through our website/email or call us anytime - 24x7. We work with love and care round the clock, to help you put together a beautiful, stress-free event from the comfort of your couch :).&nbsp;<br>
<br>
Warm Regards,<br>
Santosh Manoharan<br>
santosh@eventtree.com<br>
(408) 744-2415</p>
{% endblock %}
