{% extends "base.html" %}
{% block menu %}
  {% include "auth_menu.html" %}
{% endblock %}

{% block title %}
  Password Reset Successful
{% endblock %}

{% block content %}
  <main class="auth-body" style="background: #eeeeee">
    <div class="container">
      <div class="login-page">
        <div class="form">
          <p>Your password was successfully reset. Click <a
              href="{% url 'login' %}">here</a> to login with your new password
          </p>
        </div>
      </div>
    </div>
  </main>

{% endblock %}
