{% extends "base.html" %}

{% block menu %}
  {% include "auth_menu.html" %}
{% endblock %}

{% block title %}
  Reset Your Password
{% endblock %}

{% block content %}
  <main class="auth-body" style="background: #eeeeee">
    <div class="container">
      <div class="login-page">
        <!-- log in form -->
        <div class="form">
          <form class="login-form" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label class="control-label"
                     for="signin-password1">Password</label>
              <input id="signin-password1" class="form-control" type="password"
                     placeholder="Password" name="new_password1">
              {% if form.new_password1.errors %}
                <div class="form-group has-error">
                  <div class="control-label">
                    {{ form.new_password1.errors }}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <label class="control-label"
                     for="signin-password2">Re-Password</label>
              <input id="signin-password2" class="form-control" type="password"
                     placeholder="Retype Password" name="new_password2">
              {% if form.new_password2.errors %}
                <div class="form-group has-error">
                  <div class="control-label">
                    {{ form.new_password2.errors }}
                  </div>
                </div>
              {% endif %}
            </div>
            <div class="form-group">
              <input class="form-control btn btn-primary" type="submit"
                     value="Reset my Password">
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
