{% extends "base.html" %}
{% load static %}

{% block title %}
	Error
{% endblock %}

{% block content %}
<main class="user-body" style="background: #eeeeee">
    <center>
    <div class="container">
        <br>
        <h3> An error has occurred processing your request </h3> 
        The page you requested does not exist or is temporarily unavailable. <br> <br>
        We apologize for this inconvenience. Please visit <a href="http://eventtree.com">EventTree homepage</a> to find the information you need.<br><br>
        If you have a question or need assistance, please contact our <a href="mailto:support@eventtree.com">support@eventtree.com</a>.
        <br><br><br>
    </div>
    </center>
</main>
{% endblock %}
