{% load static %}

<div>
<section id="portfolio" >
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_location" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/location/emma_prusch_farm_park.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Location</h4>
          <p class="text-muted">Emma Prusch farm park <br>
          Cost - 140$ (Taxes included)<br>
          No addional costs
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_food" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/food/dosa_catering.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Food</h4>
          <p class="text-muted">Dosa Catering + Food Trays<br>
          Cost - 500$ (Taxes included)<br>
          No additional costs
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_cake" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/cake/bijan_cake_eshaan.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Cake</h4>
          <p class="text-muted">Birthday cake from Bijan <br>
          Cost - 90.95$ (Taxes included)<br>
          Custom Theme - 20$, Delivery - 15$
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_entertainment" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/entertainment/face_painting.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Entertainment</h4>
          <p class="text-muted">Face Painting <br>
          Cost - 100$ (Taxes included)<br>
          No additional costs
          </p>
        </div>
      </div>      


      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_activity" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/activity/farm_tour.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Activity</h4>
          <p class="text-muted">Farm Tour + Butter Making <br>
          Cost - 90$ (Taxes included)<br>
          No additional costs
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_gifts" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/gifts/return_gifts.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Return Gifts</h4>
          <p class="text-muted">Gifts from Learning Express<br>
          Cost - 159.70 $ (Taxes 13.97$)<br>
          Delivery - discounted 
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
        <a href="#portfolioModal_theme" class="portfolio-link" data-toggle="modal">
          <img src="{% static 'img/event/theme/captain_america.jpg' %}"
             class="img-responsive" alt="">
        </a>
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4>Theme + Misc</h4>
          <p class="text-muted">Captain America Theme + Misc<br>
          Theme - 41.81$, Tableware - 40$ <br>
          Water + Ice - 12.46$ (Total Taxes 8.25$) 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>



