{% load static %}

<div>
<section id="portfolio" >
  <center> <h3> Booking Confirmations </h3> </center> <br><br>
  <div class="container">

    <div class="row">

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/food/catering.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Peacock Economy Package</h4>
          <p class="text-muted">$11 pp - 75people<br>
            Appetizer - Onion Pakoda <br>
            Reg Curry - Navarathan Korma <br>
            Special Curry - Malai Kofta<br>
            Jeera Rice 1/2 tray <br>
            1/2 Butter, 1/2 Garlic Naan<br>
            Mango Mousse<br>
            Delivery (30$)
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/food/biriyani_tray.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Veg Dum Biriyani </h4>
          <p class="text-muted"> Full Tray - $80
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/food/tea.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Indian Milk Tea </h4>
          <p class="text-muted"> For 50 People - $70 <br>
          (discounted to $50)
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/cake/bijan/plain_strawberry_filling.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Strawberry Filling </h4>
          <p class="text-muted"> Full Sheet cake - $180  <br>
          White cake with strawberry custard filling <br>
          Message - Happy Birthday Ashray! <br>
          Special Photo print (waiting for confirmation on photo)
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <div class="portfolio-hover">
            <div class="portfolio-hover-content">
              <i class="fa fa-plus fa-3x"></i>
            </div>
          </div>
          <img src="{% static 'img/event/entertainment/bird_show.jpg' %}"
             class="img-responsive" alt="">
     
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Happy Birds </h4>
          <p class="text-muted">60-Minute Program - $350<br>
            Dec 18 1-2pm.
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/rentals/popcorn.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Popcorn Machine</h4>
          <p class="text-muted">
            Provided by Pinata rentals - $60<br>
            Supplies and Bags for ~50 ppl
          </p>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-lg-4 portfolio-item">
          <img src="{% static 'img/event/rentals/popcorn_supplies.jpg' %}"
             class="img-responsive center-block" alt="">
        <div class="portfolio-caption" style="background-color: #eeeeee">
          <h4> Extra popcorn Supplies </h4>
          <p class="text-muted">$15 (supplies for 50)
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
